# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# test coverage
coverage

# build output
dist/

# dependencies
node_modules/

# local os cruft
.DS_Store

# dotenv environment variables file
.env
.env.test
!.env.sample

# vim cruft
*.swp
*~

# storybook build
.out/

# dsm stuff
.dsmrc
.dsm/

# use your own settings
.vscode/settings.json

# local linking with yalc
yalc.lock
.yalc

# act - local github action runner
.secrets
pull_request.json

# we're a yarn house, no package-locks allowed
package-lock.json
