# most devs point their registory to the internal artifactory
# ci/cd for this repo runs on github, which doesn't have access to the DJ artifactory
# this config ensures installs always pull from the public registry
registry=https://registry.yarnpkg.com
